{{define "yield"}}
<h1>FAQs</h1>

<ul>

<li>What is this page built on?</li>
- Bootstrap and Go

<li>What year will we get to Mars?</li>
- 2080

<li>What is the best editor in the world?</li>
- Vim
</ul>

{{end}}
